@import '~normalize.css';

// FONTS
@import './fonts.scss';

// VARIABLES
$main-color: tomato;

// INITIAL

.container {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

// FILES

@import 'components/main';
@import 'components/logo';




